[Unit]
Description=Bluetooth Monitoring Service - UNIX Socket Events Processor

#These lines make sure we only try to start this service after the network's up
#Later we'll want to make sure this starts up before Kismet.
#If we end up putting notifications in a separate process, we'll need another
#unit file for it, and we need to make sure that the notifications subsystem
#starts first.
Wants=network-online.target
After=network-online.target
#Since systemd manages the UNIX socket this service connects to, we need to
#mark it as a dependency.
Requires=bluemon-unix.socket

[Service]
#Startup type for service (simple in this case)
Type=simple
#Where the executable is we need to start, along with any args to pass
ExecStart=/usr/bin/bluemon-unix
#What the working directory for this service should be. Usually under /run
WorkingDirectory=/run/bluemon/
#What user and group we should be running the service as
User=bluemon
Group=bluemon

[Install]
WantedBy=multi-user.target
