#This config file governs various settings for how the BLE surveillance program works.
#The kismet section governs how the program interfaces with Kismet to retrieve data.
[kismet]
#Set the hostname/IP of the kismet server.
#This can be localhost or a remote host.
server_name = localhost
#Set the port number to connect to Kismet on.
#This is usually 2501 but may be different if Kismet is on a remote host.
server_port = 2501

#Sets whether the connection to the Kismet server should use HTTPS. Kismet's
#webserver doesn't use HTTPS by default, but if its on a remote system or
#being proxied through another webserver you might need encryption.
use_tls = false

#Sets the filename and path of the CA certificate or CA certificate bundle
#we should use when validating HTTPS certs.
#The default is for RHEL based OSes, Other OSes may have a different file.
#If you are not using HTTPS, this setting is ignored.
tls_cert_file = /etc/ssl/certs/ca-bundle.crt

#Set the API token to use to connect to the kismet API. The installer script
#should automatically setup the API token for you, but you can also do so
#manually if needed. See kismet's documentation for generating API tokens if
#you need to change the API token or generate additional tokens.
api_token = none
