#This file is used to configure settings for bluemon's notification server.

[email]
#Hostname or IP address of the SMTP server to connect to
smtp_servername = smtp.example.com

#Port number to connect to the SMTP server on
smtp_portnumber = 25

#How to connect to the server with SMTP. Must be one of the following:
#	1. plain	- don't use encryption to connect to the server at all
#	2. STARTTLS	- use the SMTP STARTLS command to encrypt the connection
#	3. SSL		- start the connection already encrypted
smtp_connection_method = plain

#If authentication is required to connect to your SMTP server.
smtp_authentication_required = true

#Username to connect to the SMTP server as
smtp_username = example

#Password to use for connecting to the SMTP server
smtp_password = password123

#Email address to use for sending emails and as the reply-to.
email_address = example@gmail.com

#Subject line to use in alert emails
email_subject = Bluetooth Device Detection Alert

#Whether email should be HTML formatted or plaintext formatted. Right now only
#plaintext emails are supported so this doesn't do anything yet.
email_format_html = false

[sms]
#The SID for the twilio account being used to send SMS messages
twilio_account_sid = 87698

#The authentication token for the twilio account being used to send SMS messages
twilio_auth_token = 12345abcdef

#The SMS number that SMS messages should be being sent from in Twilio
sender_phone_number = 352-555-5555
