#This file is used to define the detection zones for bluemon. Each zone can
#have its own settings defined.

#Defaults for all zones can also be set, in the event that a specific setting
#is not set for a given zone.

#When a setting is defined in both the default section and the section for a
#specific zone, the zone's setting will take precedence.
#Some settings, such as a Zone name or UUID, must be set in the specific
#zone's section and cannot be set in the default section

[DEFAULT]
#Specify a default name for a given zone in case it is left unspecified
zone_name = Default Zone

#Specify a default zone UUID for instances where a UUID is needed but otherwise
#undefined
zone_uuid = 0

#Fire an alert when an unknown device is detected
alert_on_unrecognized = true

#Fire an alert a known device is detected
alert_on_recognized = true

#How long a device should be remembered after it stops transmitting before it
#triggers new alerts
device_inactivity_timeout = 60

#Whether BTLE devices should be tracked for this zone and alerts fired for
#them. BTLE devices often randomize their MAC address and change it over time,
#which may result in a lot of false detections for the same device.
monitor_btle_devices = true

#Whether standard BT devices should be tracked for this zone and alerts fired
#for them. Unless you have an Ubertooth device and have properly configured it,
#only bluetooth devices that are in discovery mode will be picked up.
monitor_bt_devices = true

#When using an ubertooth device the upper address part, the 3rd octet of the
#MAC address, is sometimes unknown due to the ubertooth being unable to
#calculate it. In this case the UAP is filled in with question marks, which is
#technically not a valid MAC address. This setting determines if MACs with an
#unknown UAP will still be used for alert generation. Note that the first two
#octets of the MAC will always be unknown when dealing with ubertooth detected
#devices.
ignore_devices_with_unknown_uap = false

#Specify which notification channels are enabled for a given zone. Supported
#channels are email, and sms.
notification_channels = ["email","sms"]

#List of email addresses to send alerts to, if the email channel is enabled.
email_recipients = ["user1@example.net","user2@example.com"]

#List of SMS phone numbers to send alerts to, if the SMS channel is enabled.
sms_recipients = ["555-555-5555","352-555-5555"]

[mailbox]
#Friendly name of the zone, used when firing alerts
zone_name = Mailbox

#UUID of the zone, used to identify what zone detected a device. For kismet
#zones this value is generated by kismet and can be found in the kismet UI,
#whereas for ubertooth zones this is the board's microprocessor serial number
#obtained through the ubertooth-util program.
zone_uuid = 91DD0AE4-0000-0000-0000-DCA632BC88B5

#What channels a notification should be fired to when a device is detected in
#this zone. Currently supported values are email and sms.
notification_channels = ["email","sms","signal"]

#List of email addresses to send alerts to for this zone, if the email channel
#is enabled.
email_recipients = ["user1@example.net","user2@example.com"]

#List of SMS phone numbers to send alerts to for this zone, if the SMS channel
#is enabled.
sms_recipients = ["555-555-5555","352-555-5555"]
